.user-layout-container {
    height: 100vh;
    background-image: url("https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg") !important;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 110px;
}

.content {
    margin-top: 18vh;
}

.content .top {
    text-align: center;
}

.content .top .content-header {
    line-height: 45px;
}

.content .top .content-header .logo {
    height: 45px;
    vertical-align: top;
}

.content .top .content-header .title {
    position: relative;
    top: 2px;
    color: #000072;
    font-weight: 600;
    font-size: 33px;
    font-family: Avenir, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin-right: 48px;
}

.content .top .desc {
    margin-top: 16px;
    margin-bottom: 40px;
}
